nav{
    display: flex;
    flex-direction: row;
    background-color: var(--bg-seccond);
    padding: 1em;
    font-size: 1.1em;
    border-radius: 1em;
}

nav a{
    color: var(--txt-color);
    text-decoration: none;
    margin:0 1em;
    padding: .2em 0;
    border-bottom: 3px solid transparent;
}

nav a.active{
    border-bottom: 3px solid var(--txt-color);
}

nav a:hover{
    border-bottom: 3px solid var(--txt-color);
}