.item{
    list-style: none;
    border: 1px solid var(--bg-seccond);
    padding: .5em;
    margin-bottom: 1em;
    border-radius: 1em;
    width: 500px;
}

.list_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: -1em;
}

.list_body{
    display: flex;
    justify-content: space-between;
}

.list_body input{
    min-width: 50px;
}

.item button{
    background-color: red;
    border: none;
    color: var(--txt-color);
    border-radius: 1em;
    padding: .5em;
    font-weight: bold;
    margin-left: 10px;
    cursor: pointer;
}

.item button:hover{
    background-color: brown;
}